{% extends "workshop/_workshop_layout.html.twig" %}

{% set page_title = 'Mapnumber List (Maps)' %}

{% block workshop_content %}

    {% include 'core/_breadcrumb.html.twig' with {
        items: [
            { label: 'Workshop', url: '/workshop' },
            { label: 'Tools', url: '/workshop/tools' },
            { label: 'Map Number List' }
        ],
        add_back_button: true
    } %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Mapnumber List: Map</h2>
        </div>
        <div class="content-body">
            <p>
                This is a list of mapnumbers that are in use.
                We want standalone maps in the KeeperFX.net workshop to have a unique mapnumber so they do not overwrite the files of other maps and their completion progress can be tracked.
            </p>

            <table class="table" style="font-size: 11px; width: auto;">
                <thead>
                    <tr>
                        <th style="width: 50px;">Mapnumber</th>
                        <th>Map</th>
                    </tr>
                </thead>
                <tbody>
                    {% for number, map_number in map_numbers %}
                        <tr>
                            <td style="width: 50px;">{{ number }}</td>
                            <td>
                                {% if map_number.workshop_item %}
                                    <a href="/workshop/item/{{ map_number.workshop_item.id }}/{{ map_number.workshop_item.name|slugify }}">{{ map_number.workshop_item.name }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
