# Project stuff
wiki/
keeperfx/
temp/

# Environment vars
.env

# Composer vendor
vendor/

# Migrations
migrations/*
!migrations/production

# Laradock
.laradock/
laradock/

# IDE
.vscode/*
.settings
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# INCLUDE VSCode tasks.json (project specific)
!.vscode/tasks.json

# Logs
*.log
php_errors.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# .js package managers
bower_components/
node_modules/
jspm_packages/
