# Project stuff
/wiki/
/keeperfx/
/temp/
TODO
__MAINTENANCE_MODE_ACTIVE

# Environment vars
.env

# Composer vendor
vendor/

# Migrations
migrations/*
!migrations/production

# Docker
docker/data/*
docker-compose.yml

# INCLUDE VSCode tasks.json (project specific)
!.vscode/tasks.json

# Storage
/storage/

# Logs
*.log
php_errors.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# .js package managers
bower_components/
node_modules/
jspm_packages/

# IDE
.vscode/*
.settings
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
