services:

    redis:
        restart: on-failure

    mariadb:
        restart: on-failure
        ports:
            # Open loopback port 3316 to access the database
            - "127.0.0.1:3316:3306"

    php:
        restart: on-failure
        volumes:
            # Make sure these directories are writable by the `www-data` user:
            - ./cache:/app/cache:rw
            - ./logs:/app/log:rw

    nginx:
        restart: on-failure
        ports:
            - "127.0.0.1:5500:80"

    cron:
        restart: on-failure
        profiles:
            - donotstart

    clamav:
        restart: on-failure
        profiles:
            - donotstart

    mitmproxy:
        restart: on-failure
        image: mitmproxy/mitmproxy:latest
        container_name: kfx-mitmproxy
        ports:
            - 127.0.0.1:5580:8080
            - 127.0.0.1:5581:8081
        command: mitmweb --web-host 0.0.0.0 --mode reverse:http://kfx-nginx:80 --set web_password=keeperfx
        depends_on:
            - nginx
        networks:
            - kfx_network
        profiles:
            - donotstart

    mailpit:
        restart: on-failure
        image: axllent/mailpit:latest
        container_name: kfx-mailpit
        ports:
            - "127.0.0.1:5525:8025" # Web UI
        networks:
            - kfx_network
        environment:
            MP_MAX_MESSAGES: 500
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
        profiles:
            - donotstart
