{% extends "cp/_cp_layout.html.twig" %}

{% block title %}Users - Admin{% endblock %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Users</h2>
        <a href="/admin/users/add" style="right: 0;">
            <button class="btn btn-medieval">Add new user</button>
        </a>
    </div>
    <div class="content-body">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role.name }}</td>
                        <td><a href="/admin/user/{{ user.id }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
