{% extends "core/_layout.html.twig" %}

{% set page_title = 'Commits for ' ~ release.name %}

{% set meta = {
    title: page_title,
    description: 'An overview of commits for the ' ~ release.name ~ ' release.',
} %}

{% block content %}

{{ render_flash_messages() }}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Commits for <strong>{{ release.name }}</strong></h2>
        </div>
        <div class="content-body">
            <p>
                This is a list of commits for the <strong>{{ release.name }}</strong> release.
            </p>
            <pre class="code"><code>{% for commit in commits %}{{ commit.message|github_interact }}&NewLine;{% endfor %}</code></pre>
            <p>
                <a href="/downloads" data-instant>Go back to downloads</a>
            </p>
        </div>
    </div>

{% endblock %}
