{% extends "core/_layout.html.twig" %}

{% set page_title = article.title %}

{% set meta = {
    og: {type: 'article'},
    description: article.excerpt ?? article.contents ?? null
} %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
    <span class="news-date">{{ article.createdTimestamp|date('Y-m-d') }}</span>
            <h2>{{ article.title }}</h2>
        </div>
        <div class="content-body">
            <p>{{ article.contents|markdown_to_html }}</p>
            <p class="text-muted">- KeeperFX Team</p>
        </div>
    </div>

{% endblock %}
