{% extends "core/_layout.html.twig" %}

{% set page_title = 'Privacy Policy' %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Privacy Policy</h2>
        </div>
        <div class="content-body">

            <p style="margin-top: 15px;">We take your privacy very seriously at the KeeperFX website. This policy explains what personal data we collect from users of our website and how we use that data.</p>

            <h5>Data we collect and its usage</h5>
            <p>When you create an account, we collect the information that you provide to us, such as your username. Additionally, we may collect any other information that you manually choose to provide us in the future. Passwords are securely hashed and stored. In order to prevent abuse, we collect IP addresses from logged-in users, while anonymized IP addresses are collected from non-logged-in users. Additionally, we collect device information for analytics purposes, which is not linked to any specific user.</p>

            <h5>Data Collection Methods</h5>
            <p>We collect most of the data from user input. The exceptions are anonymized IP addresses and device information, as these are gathered automatically.</p>

            <h5>Data Storage and Protection</h5>
            <p>We take our security very seriously. Passwords are hashed to protect them. The website administrators are the only ones with access to non public data. When a registered user uploads content to the website, the content will be publicly available and their username will be publicly shown as submitter of said content.</p>

            <h5>Data Sharing</h5>
            <p>We do not share user data with third parties such as advertisers or analytics providers (we handle our analytics ourselves).</p>

            <h5>User Control</h5>
            <p>Users have control over their data. They can update their username, remove their email address and delete their uploaded content. Users can also contact us directly to have all of their data removed.</p>

            <h5>CDN and Reverse Proxy</h5>
            <p>The website uses Cloudflare as a content delivery network (CDN) and reverse proxy. This means that all website traffic is routed through Cloudflare's servers, which may result in the transfer of some of your personal information to Cloudflare. Although we have taken steps to minimize the amount of data that is shared with Cloudflare, there is still a theoretical risk that Cloudflare could access this data. Cloudflare's privacy policy states that they will only process user data on behalf of the website owner and will not use it for any other purpose. By using the KeeperFX website, you acknowledge and accept this risk.</p>

            <h5>Changes to the Privacy Policy</h5>
            <p>If any material changes are made to this privacy policy, we will publish a news article on the website and show visitors a notification stating these changes. We will also notify users via email if they provided us with an email address. </p>

            <h5>Contact Us</h5>
            <p>
                If you have any questions or concerns about our privacy policy or data handling practices, please contact us at
                <code>yan<span id="a1"></span>protonma<span id="a3"></span>om</code>
                <script>$(function(){$('#a1').text('i@');});</script>
                <script>$(function(){$('#a3').text('il.c');});</script>
            </p>

        </div>
    </div>

{% endblock %}
