{% extends "core/_layout.html.twig" %}

{% set page_title = 'RSS Feeds' %}

{% block content %}

{{ render_flash_messages() }}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>RSS Feeds</h2>
        </div>
        <div class="content-body">
            <p>
                You can easily subscribe to our RSS feeds by using one of the links below:
            </p>
            <table class="table">
                <tr>
                    <td>News</td>
                    <td><code>{{ get_env('APP_ROOT_URL') }}/rss/news</code></td>
                </tr>
                <tr>
                    <td>Stable builds <span class="text-muted">- direct download</span></td>
                    <td><code>{{ get_env('APP_ROOT_URL') }}/rss/stable</code></td>
                </tr>
                <tr>
                    <td>Alpha patches <span class="text-muted">- direct download</span></td>
                    <td><code>{{ get_env('APP_ROOT_URL') }}/rss/alpha</code></td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
