{% extends "core/_layout.html.twig" %}

{% set page_title = 'Terms of Service' %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Terms of Service</h2>
        </div>
        <div class="content-body">
            <p style="margin-top: 15px;">Welcome to the KeeperFX website! By using our website, you agree to the following terms and conditions:</p>

            <ol style="margin: 40px 60px;">
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Intellectual Property:</span><br/> Users can upload their own content but it can not include any intellectual property that they don't have permission to share. An exception is Dungeon Keeper-related content.</li>
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Content:</span><br/> Users are not allowed to upload content that is malicious, inappropriate, or violates our guidelines. Examples of prohibited content include nudity, gambling, non-game-related violence, racism, sexism, and any other content that we deem inappropriate. Additionally, any content related to illegally obtaining a copy of Dungeon Keeper is strictly prohibited.</li>
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Comments:</span><br/> Comments posted by users must follow the same rules as content and are subject to removal if they violate our guidelines.</li>
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Multiple Accounts:</span><br/> Users are not allowed to create multiple accounts to abuse website functionality such as download counts and ratings.</li>
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Privacy and Security:</span><br/> Users are not allowed to access the accounts of other users without their consent. Any attempt to gain unauthorized access to other users' accounts will result in termination of the offender's account and access to the website may be blocked.</li>
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Account Termination:</span><br/> We reserve the right to terminate any user account at any time without notice, especially if the user violates our terms and conditions.</li>
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Liability:</span><br/> We are not liable for any content that is uploaded by users. We are not responsible for any damages that may occur as a result of using our website or uploading content to it. We are also not liable if our website gets hacked by a third party, provided we have taken the necessary security measures to prevent this.</li>
                <li style="margin-top: 25px"><span class="text-white text-uppercase">Torture chamber:</span><br/> We reserve the right to throw content creators for KeeperFX into the torture chamber in-game so other content creators will work 25% harder.</li>
            </ol>

            <p>By using our website, you agree to follow these terms and conditions. If you violate any of these terms, we may take action to terminate your account and/or remove your content or comments from our website.</p>

            <p>
                If you have any questions or concerns about these terms, please contact us at
                <code>yan<span id="a1"></span>protonma<span id="a3"></span>om</code>
                <script>$(function(){$('#a1').text('i@');});</script>
                <script>$(function(){$('#a3').text('il.c');});</script>
            </p>

        </div>
    </div>

{% endblock %}
