{% extends "core/_layout.html.twig" %}

{% set page_title = 'Website Changelog' %}

{% set meta = {
    title: page_title,
    description: 'A full list of all the changes and updates to the KeeperFX website.',
} %}

{% block content %}

{{ render_flash_messages() }}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <div class="d-flex justify-content-between">
                <h2>Website Changelog</h2>
                <a href="{{ get_env('APP_GITHUB_REPO_URL') }}" target="_blank">Website GitHub Repo<ion-icon name="open-outline" class="outgoing" style="font-size: 12px; position: relative; top: 1px; left: 1px;"></ion-icon></a>
            </div>
        </div>
        <div class="content-body">

            {% if commits|length == 0 %}

                <div class="alert alert-warning">
                    Something went wrong with the changelog cache. Try again later.
                </div>

            {% else %}

                <div class="mt-1 mb-5">
                    <p>A full list of all the changes and updates to the KeeperFX website.</p>
                </div>

                {% for date_str, date_commits in commits %}
                    <h4>{{ date_str }}</h4>
                    <pre class="code"><code>{% for commit in date_commits %}- {{ commit.subject }}&NewLine;{% endfor %}</code></pre>
                {% endfor %}

            {% endif %}
        </div>
    </div>

{% endblock %}
