@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Nunito&display=swap');

body {
    background-color: #232427;
    background-image: url(/img/bg2.png);
    /* background-image: url(/img/bg.png); */
    font-family: 'Nunito', sans-serif;
}

* {
    color: rgb(215, 197, 182);
    --bs-secondary-color: rgba(148, 66, 0, 0.75);
    /* --special-text-color: rgb(215, 197, 182); */
    --special-text-color: #dd4a29;
    --footer-text-color: #777;

    box-sizing: border-box;
}

ul {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
}

@media(max-width:497px) {
    .container {
        margin-bottom: 15px;
    }
}

hr {
    background-color: #333;
    height: 2px;
    border: none;
    opacity: 1;
}

.pull-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.text-special {
    color: var(--special-text-color);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

a {
    color: var(--special-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.bg-keeper {
    background: url(../img/bg-gray.png) repeat;
    /* filter: blur(0.5); */
}

.bg-keeper-2 {
    background: url(../img/bg-gold.png) repeat;
}

.bd-keeper {
    box-shadow:
        0 0 0 2px #362c2c,
        0 0 0 3px #232427,
        rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
}

.bd-keeper-2 {
    box-shadow:
        0 0 0 1px #56452c,
        0 0 0 2px #603500;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

nav {
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar-nav {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.nav-item {
    margin: 0 8px;
}

.nav-link:hover img {
    filter: brightness(1.9);
}

.navbar-brand {
    margin-left: 8px;
    margin-right: 0;
}

.navbar-brand:hover {
    filter: brightness(1.2);
}

.navbar-brand img {
    width: auto;
    height: 42px;
}

.nav-item img {
    margin-bottom: 3px;
}

@media(max-width:497px) {
    nav {
        margin-top: 15px;
    }

    .navbar-brand {
        text-align: center;
        width: 100%;
    }

    .navbar-brand img {
        display: block;
        margin: auto !important;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.content-box+.content-box {
    margin-top: 30px;
}

.content-header {
    border-bottom: 2px solid #333;
    margin: 0px 20px;
    padding: 20px 0px 5px 0px;
}

.content-header h2 {
    font-size: 22px;
    color: #eee;
}

.content-body {
    padding: 20px;
}

.content-body p+h1,
.content-body p+h2,
.content-body p+h3,
.content-body p+h4,
.content-body p+h5,
.content-body p+h6 {
    margin-top: 60px;
}

.content-body h1+p,
.content-body h2+p,
.content-body h3+p,
.content-body h4+p,
.content-body h5+p,
.content-body h6+p {
    margin-top: 30px;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    color: #efefef;
    border-bottom: 2px solid #333;
}

.content-body p {
    padding-left: 15px;
    padding-right: 15px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.wiki-menu a {
    color: #efefef;
}

.wiki-menu>h4 {
    margin-bottom: 1rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.news {
    padding: 10px 10px 10px 10px;
}

.news+.news {
    margin-top: 40px;
}

.news-title {
    color: var(--special-text-color);
    font-size: 20px;
    display: inline-block;
    font-family: 'Cinzel', serif;
    border-bottom: 0 !important;
}

.news-date {
    color: var(--special-text-color);
    font-family: 'Cinzel', serif;
    float: right;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#screenshots {
    display: flex;
    flex-wrap: wrap;
}

.screenshot {
    padding: 20px;
    text-align: center;
    align-items: center;

    width: 250px;
    height: 250px;

    margin-bottom: 40px;
}


@media(max-width:497px) {
    .screenshot {
        width: 300px;
        height: 300px;
    }
}

.screenshot img {
    width: 100%;
    height: 100%;
    padding: 1px;
    object-fit: cover;

    aspect-ratio: 1;

    box-shadow:
        0 0 0 2px #362c2c,
        0 0 0 3px #232427,
        rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
}

.screenshot-title {
    font-family: 'Cinzel', serif;
    display: block;
    font-size: 16px;
    margin-top: 15px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.dk-button {
    background: url(/img/button.png);
    width: 300px;
    height: 60px;
    display: block;
    padding-top: 10px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 26px;
    color: rgb(215, 197, 182);
}

.dk-button {
    text-decoration: none;
}

.dk-button:hover {
    text-decoration: none !important;
    filter: brightness(1.5);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

th {
    font-family: 'Cinzel', serif;
    border: 0;
}

td {
    border: 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.latest-release td {
    font-weight: bold;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.login-title {
    text-align: center;
    margin-bottom: 30px;
}

.login-box {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

textarea:focus,
input:focus {
    outline: none;
}

.form-control {
    background-color: rgba(30, 30, 30, 0.7);
    /* background-color: #1f1d1e; */
    border: 1px solid #000000;
    color: rgb(215, 197, 182);
    padding: 10px;
}

.form-control:focus {
    background-color: rgba(30, 30, 30, 0.7);
    border: 1px solid rgb(172, 144, 124);
    color: rgb(255, 222, 196);
    box-shadow: none;
}

.btn-dk {
    font-size: 18px;
    color: rgb(215, 197, 182);
    font-family: 'Cinzel', serif;

    padding: 10px;

    background: url(../img/bg-gold.png) repeat;
    border: 1px solid rgb(50 36 24);

    filter: brightness(1.5);
    /* filter: brightness(1.7); */
}

.btn-dk:hover {
    border: 1px solid rgb(79, 57, 38);
    filter: brightness(1.75);
    /* filter: brightness(2); */

    color: var(--bs-btn-hover-color);
    text-decoration: none;
}

.btn-dk-gray {
    background: url(../img/bg-gray.png) repeat;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

pre.code {
    background-color: rgba(30, 30, 30, 0.7);
    border: 1px solid rgba(50, 50, 50, 1);
    padding: 5px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    padding-top: 30px;
    font-size: 14px;
    text-align: center;
    color: var(--footer-text-color);
    padding-bottom: 15px;
}
