{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'IP Logs - AdminCP' %}

{% block page %}

{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'IP Logs', url: '/admin/ip-lookup/logs' },
    ],
    add_back_button: false
} %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>IP Logs ({{ ip_logs|length }})</h2>
        <a href="/admin/ip-lookup/associations">Find Associations</a>
    </div>
    <div class="content-body">

        {% include 'admincp/_ip-log-table.html.twig' %}

    </div>
</div>

{% endblock %}
