{% extends "core/_layout.html.twig" %}

{% block title %}404 - Not found{% endblock %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>404 - Not found</h2>
        </div>
        <div class="content-body">
            <p>
                The requested resource could not be found.
            </p>
        </div>
    </div>

{% endblock %}
