{% extends "core/_layout.html.twig" %}

{% set page_title = '404 - Not found' %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper m-auto" style="max-width: 750px;">
        <div class="content-body">

            <img class="img-fluid" src="/img/404-not-found.png"></img>

            <div class="text-center m-3 m-t-4">
                <h3 style="border-bottom: 0">404 - Not found</h3>
                The requested resource could not be found.
            </div>
        </div>
    </div>

{% endblock %}
