{% extends "core/_layout.html.twig" %}

{% set page_title = '500 - Internal Server Error' %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>405 - Method not allowed</h2>
        </div>
        <div class="content-body">
            <p>
                The request method is not supported for the requested resource.
            </p>
        </div>
    </div>

{% endblock %}
