{% extends "core/_layout.html.twig" %}

{% set page_title = '500 - Internal Server Error' %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>500 - Internal Server Error</h2>
        </div>
        <div class="content-body">
            <p>
                Something went wrong... Try again later.
            </p>
        </div>
    </div>

{% endblock %}
