{% extends "core/_layout.html.twig" %}

{% block content %}



<div class="row">

    {# Sidebar #}
    <div class="col-3">
        <div class="content-box bg-keeper bd-keeper">
            <div class="content-header">
                <h2>Dashboard</h2>
            </div>
            <div class="content-body">
                <p>Welcome, {{ account.username }}</p>
                <nav class="nav flex-column">
                    <a class="nav-link active" href="/dashboard"><ion-icon name="home-outline"></ion-icon> Dashboard</a>
                    {% if account.role == roles.admin %}
                        <a class="nav-link" href="/admin/workshop/list"><ion-icon name="cube-outline"></ion-icon> Manage Workshop</a>
                        <a class="nav-link" href="/admin/news/list"><ion-icon name="newspaper-outline"></ion-icon> Manage News</a>
                        <a class="nav-link" href="/admin/user/list"><ion-icon name="people-outline"></ion-icon> Manage Users</a>
                    {% endif %}
                    <a class="nav-link" href="//logout/{{ csrf.name }}/{{ csrf.value|url_encode }}"><ion-icon name="log-out-outline"></ion-icon> Logout</a>
                </nav>
            </div>
        </div>
    </div>

    {# Control Panel Page #}
    <div class="col-9">

        {{ render_flash_messages() }}

        {% block page %}{% endblock %}
    </div>

</div>

{% endblock %}
