{% extends "core/_layout.html.twig" %}

{% block content %}



<div class="row">

    {# Sidebar #}
    <div class="col-3">
        <div class="content-box bg-keeper bd-keeper">
        <div class="content-body wiki-menu">

            <p>Welcome, {{ account.username }}</p>

            <ul class="cp-menu">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                {% if account.role >= roles.developer %}
                    {# <li>
                        <a href="/dashboard">Alpha Builds</a>
                    </li> #}
                {% endif %}
                {% if account.role == roles.admin %}
                    <li>
                        <a href="/admin/workshop/list">Workshop</a> (Admin)
                    </li>
                    <li>
                        <a href="/admin/news/list">News</a> (Admin)
                    </li>
                    <li>
                        <a href="/admin/user/list">Users</a> (Admin)
                    </li>
                {% endif %}
                <li>
                    <a href="/logout/{{ csrf.name }}/{{ csrf.value|url_encode }}">Logout</a>
                </li>
            </ul>

        </div>
        </div>
    </div>

    {# Control Panel Page #}
    <div class="col-9">

        {{ render_flash_messages() }}

        {% block page %}{% endblock %}
    </div>

</div>

{% endblock %}
