{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Dashboard' %}

{% block page %}

{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'Dashboard' }
    ],
    add_back_button: false
} %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-body">
        An empty dashboard...
    </div>
</div>

{% endblock %}
