{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Dashboard' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-body">
        An empty dashboard...
    </div>
</div>

{% endblock %}
