{% extends "workshop/_workshop_layout.html.twig" %}

{% block title %}Workshop item submitted! - Workshop{% endblock %}

{% block workshop_content %}

    <div class="alert alert-success">
        Your workshop item has been submitted and will be reviewed by the KeeperFX team.
        After it has been accepted it will be added to the workshop for others to download.
    </div>

{% endblock %}
