{% extends "core/_layout.html.twig" %}

{% set page_title = 'Password Reset' %}

{% block content %}

<div class="" style="align-items: center; width: 100%">

    <div class="bg-keeper bd-keeper login-box">

        <h2 class="login-title">Password reset</h2>

        {{ render_flash_messages() }}

    </div>
</div>

{% endblock %}
