{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Game File Index for ' ~ game_version ~ ' - ModCP' %}

{% block page %}

{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'Game File Indexes', url: '/dev/game-files/list' },
        { label: 'v' ~ game_version }
    ],
    add_back_button: true
} %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Game File Index for {{ game_version }}</h2>
    </div>
    <div class="content-body">

        <input class="form-control form-form-control-sm" id="search" placeholder="Search" style="margin-bottom: 15px;" />

        <div id="filemap_tree"></div>
        <noscript>Javascript is required to render the directory view</noscript>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.42.0/tabler-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />
{% endblock %}

{% block body_javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

    <script>

    var filemap_tree = $('#filemap_tree').treeview({
        data          : {{ filemap_widget_data|json_encode()|raw }},
        levels        : 1,
        showBorder    : true,
        showIcon      : true,
        backColor     : "#222",
        borderColor   : "#333",
        color         : "#f0f0f0",
        onhoverColor  : "#252525",
        selectedBackColor : "#222",
        expandIcon    : "ti ti-folder",
        collapseIcon  : "ti ti-folder-open",
        emptyIcon     : "ti ti-file-filled",
        showTags: true,
        onNodeSelected: function(e, data) {

            if(typeof data.nodes != 'undefined'){
                // Open or close directories
                $('#filemap_tree').treeview('toggleNodeExpanded', [ data.nodeId ]);
            } else {
                // Deselect if file
                $('#filemap_tree').treeview('toggleNodeSelected', [ data.nodeId, { silent: true } ]);
            }

        },
    });

    // Fix download links (anchors)
    $('#filemap_tree a').on('click', function(e){

        // Prevent any events
        // Otherwise a bug arises where we can only download 1 file
        e.preventDefault();
        e.stopImmediatePropagation();

        // Create temporary anchor based on original anchor
        const $this = $(this);
        const $temp = $('<a>', {
            href: $this.attr('href'),
            download: $this.text(),
            target: '_blank'
        }).appendTo('body');

        // Remove temporary anchor
        $temp[0].click();
        $temp.remove();
    });


    // Handle search
    $('#search').val(""); // clear input
    $('#search').on('keyup change', $.debounce(100, function(e){

        // Get search string
        var string = $(this).val().toLowerCase();

        // Clear open folders
        filemap_tree.treeview('collapseAll');

        // Handle clearing of search
        if(string == ""){
            filemap_tree.treeview('clearSearch');
            $(filemap_tree).unmark();
            return;
        }

        var results = filemap_tree.treeview('search', [ string, {ignoreCase: true, revealResults: true} ]);

        $(filemap_tree).mark(string);
    }));

    $(filemap_tree).on('searchComplete', function(event, data) {
        $(filemap_tree).find('.node-filemap_tree').not(':has(> .ti-folder-open), .search-result').hide();
    });

    $(filemap_tree).on('searchCleared', function(event, data) {
        $(filemap_tree).find('.node-filemap_tree').show();
    });

</script>

{% endblock %}

