

<div class="pb-2 d-flex justify-content-between align-items-center">

    {# Input that has a array variable #}
    <input class="form-control" type="text" name="mirrors[]" required placeholder="Download URL" value="{{ value ?? '' }}" />

    {# Remove button #}
    <button type="button" class="btn btn-medieval btn-medieval-gray ms-3" data-mirror-remove=true>X</button>

</div>
