{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Add news article - AdminCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Create new news article</h2>
    </div>
    <div class="content-body">

        <form action="/admin/news/add" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

            <input type="text" class="form-control" placeholder="Title" name="title" />

            <textarea class="form-control" name="contents" rows="12" placeholder="Content" style="margin-top: 15px;"></textarea>

            <span class="text-muted">
                News articles use the markdown format.
            </span>

            <div class="pull-right">

                <input type="submit" class="btn btn-medieval" style="margin-top: 15px;" value="Create" />

            </div>

        </form>

    </div>
</div>

{% endblock %}
