{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Add news article - AdminCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Create new news article</h2>
    </div>
    <div class="content-body">

        <form action="/admin/news/add" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

            <div class="form-group">
                <label for="title">
                    Title
                </label>
                <input type="text" class="form-control" id="title" name="title"/>
            </div>

            <div class="form-group" style="margin-top: 30px;">
                <label for="contents">
                    Content
                    <span class="text-muted">
                        (Optional)
                    </span>
                </label>
                <textarea class="form-control" name="contents" id="contents" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="excerpt">
                    Excerpt (Short Text to show on home page with a "Read more" link) -
                    <a href="https://chat.openai.com/" target="_blank">ChatGPT</a>
                </label>
                <textarea class="form-control" name="excerpt" id="excerpt" rows="3"></textarea>
            </div>

            <span class="text-muted">
                News articles use the markdown format.
            </span>

            <div class="pull-right">

                <input type="submit" class="btn btn-medieval" style="margin-top: 15px;" value="Create" />

            </div>

        </form>

    </div>
</div>

{% endblock %}
