{% extends "core/_base.html.twig" %}

{% block body %}

    <div class="container">

        <div class="content-box bd-keeper" style="margin-top: 30px;">

            {# 'dev' environment notice #}
            {% if get_env('APP_ENV') == 'dev' %}
                <div style="position: absolute; float: left;">
                    <h1 style="font-family: monospace;">[dev]</h1>
                </div>
            {% endif %}

            <img src="/img/top-banner.png" width="100%" />
        </div>

        <nav class="navbar justify-content-between content-box bd-keeper header">
            <div>

                <a href="/">
                    Home
                </a>
                <span class="header-separator">|</span>
                <a href="/downloads">
                    Downloads
                </a>
                <span class="header-separator">|</span>
                <a href="/wiki">
                    Wiki
                </a>
                <span class="header-separator">|</span>
                <a href="/screenshots">
                    Screenshots
                </a>
                <span class="header-separator">|</span>
                <a href="https://keeperklan.com/forums/52-KeeperFX" target="_blank">
                    Forums
                </a>

            </div>

            <div>

                {# <a href="/">
                    Register
                </a>
                <span class="header-separator">|</span>
                <a href="/login">
                    Login
                </a> #}

            </div>

        </nav>

        {% block content %}{% endblock %}

        <footer>
            KeeperFX - Open Source Dungeon Keeper Remake & Fan Expansion - <a href="/login">Login</a>
        </footer>

    </div>

{% endblock %}
